* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
}
.hero-image {
  background-image: url("restaurant hero image.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero-image .block {
  background-color: rgba(0, 0, 0, 0.692);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.nav {
  position: relative;
  z-index: 3;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}
aside {
  position: fixed;
  background: linear-gradient(180deg, yellow, orange);
  width: 70vw;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
  transition: all 0.8s ease;
  transform: translateX(100%);
}
aside ul {
  height: 60%;
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}
.nav-blur {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 993;
}
.cross-btn-container {
  cursor: pointer;
  box-shadow:
    2px 3px 5px black,
    2px 2px 5px white inset;
  background: linear-gradient(165deg, white, rgb(165, 165, 165));
  height: 5em;
  width: 5em;
  position: absolute;
  left: 1em;
  top: 1em;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.cross-btn {
  background-image: url(close-icon.svg);
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 50%;
}
.arrow-btn-container {
  height: clamp(3em, 3vw, 10em);
  width: clamp(3em, 3vw, 10em);
  background-color: rgb(255, 166, 0);
  position: fixed;
  right: 5em;
  bottom: 5vh;
  z-index: 1000;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(3em);
}
.arrow-btn-container.show {
  transform: translateX(0em);
  opacity: 1;
}
.arrow-btn {
  background-image: url(arrow.svg);
  height: 50%;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
aside ul li {
  box-shadow:
    2px 3px 10px black,
    2px 3px 10px white inset;
  height: 30%;
  border-radius: 1em;
  display: grid;
  place-items: center;
  color: rgb(255, 255, 255);
  font-size: clamp(2em, 3vw, 7em);
  width: 100%;
  cursor: pointer;
  font-weight: 700;
}
aside ul .book {
  box-shadow:
    2px 3px 10px black,
    2px 3px 10px white inset;
  height: 30%;
  border-radius: 1em;
  display: grid;
  place-items: center;
  color: rgb(255, 255, 255);
  font-size: clamp(2em, 3vw, 7em);
  width: 100%;
  cursor: pointer;
  font-weight: 700;
}
.bottom-info {
  position: relative;
  z-index: 2;
  height: 90%;
  display: flex;
}
.left-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  gap: 1em;
  transition: all 0.5s ease;
  transform: translateY(4em);
  opacity: 0;
}
.left-info.show {
  opacity: 1;
  transform: translateY(0em);
}
.left-info h1 {
  color: white;
  font-size: clamp(2rem, 5vw, 10rem);
}
.left-info p {
  color: rgb(212, 212, 212);
}
.right-info {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotating-plate {
  background-image: url(rotatingplate.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: clamp(8rem, 30vw, 50rem);
  height: clamp(8rem, 30vw, 50rem);
  animation: rotating-plate 10s linear infinite;
  transition: all 0.5s ease;
  margin-top: 10em;
  opacity: 0;
}
.rotating-plate.show {
  margin-top: 0em;
  opacity: 1;
}
@keyframes rotating-plate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.book {
  height: 3rem;
  width: 9rem;
  background-color: rgb(255, 187, 0);
  display: grid;
  place-items: center;
  border-radius: 1rem;
  transition: all 0.5s ease;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: clamp(1.5rem, 1.3vw, 5em);
}

#pages {
  position: relative;
}
#pages:hover .pages-info {
  display: flex;
}
.pages-info {
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -2.5rem;
  top: 1.4rem;
  border-radius: 0.5rem;
  color: black;
  z-index: 5;
  width: 8rem;
  height: auto;
}
.pages-info li {
  border-radius: 0.5rem;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-info li:hover {
  background-color: rgb(194, 194, 194);
}
.nav h1 {
  color: rgb(255, 166, 0);
  font-size: clamp(2rem, 3vw, 10em);
  transform: translateX(2em);
  transition: all 0.5s ease;
  opacity: 0;
}
.nav h1.show {
  transform: translateX(0em);
  opacity: 1;
}
.nav > ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  transform: translateX(-2em);
  transition: all 0.5s ease;
  opacity: 0;
}
.nav > ul.show {
  transform: translateX(0em);
  opacity: 1;
}
.nav ul li {
  list-style: none;
  font-size: clamp(1rem, 1vw, 4rem);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
}
.nav > ul > li:hover {
  color: rgb(252, 185, 0);
}
.book:hover {
  transform: scale(1.1);
  background-color: rgb(255, 208, 0);
  color: white;
}
.hamburger-btn-container {
  height: clamp(4em, 5vw, 5em);
  width: clamp(4em, 5vw, 5em);
  background: linear-gradient(15deg, orange, yellow);
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 995;
  border-radius: 50%;
  box-shadow:
    2px 3px 10px black,
    3px 3px 10px white inset;
  display: none;
  place-items: center;
}
.hamburger-btn {
  background-image: url(hamburger.svg);
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 50%;
}
/*info*/

.restaurant-info {
  margin-top: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}
.chef-icon {
  background-image: url(chef.svg);
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.restaurant-info .cards {
  padding-top: 1em;
  height: 12rem;
  width: 12rem;
  padding-left: 1em;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: translateX(-1em);
  opacity: 0;
}
.restaurant-info .cards.show {
  transform: translateX(0em);
  opacity: 1;
}
.restaurant-info .cards:hover {
  transform: scale(1.05);
}
.restaurant-info .cards p {
  color: rgb(29, 29, 29);
  font-size: clamp(1em, 1vw, 5em);
}
.restaurant-info .cards h1 {
  white-space: nowrap;
  font-size: clamp(1.5em, 1.3vw, 5em);
}
.fork-icon {
  background-image: url(fork.svg);
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.cart-icon {
  background-image: url(cart.svg);
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.service-icon {
  background-image: url(customar.svg);
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  width: 100%;
  display: flex;
  transform: translateY(3em);
  opacity: 0;
  transition: all 0.5s ease;
}
.about.show {
  transform: translateY(0em);
  opacity: 1;
}
.images {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
  padding-right: 1em;
  gap: 1em;
}
.image1 {
  flex-shrink: 0;
  background-image: url(restaurant.jpg);
  width: clamp(10em, 12vw, 20em);
  height: clamp(10em, 12vw, 20em);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image2 {
  flex-shrink: 0;
  background-image: url(restaurant1.jpg);
  width: clamp(10em, 12vw, 20em);
  height: clamp(10em, 12vw, 20em);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10vw;
}
.about .info {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  gap: 1em;
}
.animating-info {
  display: flex;
  gap: 3em;
}
.info-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.info-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.animating-info .info-1 h2 {
  font-size: clamp(1em, 2vw, 5em);
  white-space: nowrap;
}
.animating-info .info-2 h2 {
  font-size: clamp(1em, 2vw, 5em);
  white-space: nowrap;
}
.info-1::before {
  content: "";
  height: 100%;
  width: 7px;
  background-color: orange;
}
.info-2::before {
  content: "";
  height: 100%;
  width: 7px;
  background-color: orange;
}
.about .info h1 {
  color: rgb(255, 166, 0);
  font-size: clamp(2em, 3vw, 5em);
}
.read-more {
  height: 3em;
  width: 7em;
  background-color: rgb(255, 153, 0);
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.read-more:hover {
  background-color: rgb(255, 174, 0);
  transform: scale(1.05);
}
/* menu */
.menu {
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-heading {
  text-align: center;
  font-weight: 700;
  font-size: clamp(2em, 3vw, 4em);
  transform: translateY(1em);
  opacity: 0;
  transition: all 0.5s ease;
}
.menu-options {
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  gap: 2em;
  position: relative;
  transform: translateY(1em);
  opacity: 0;
  transition: all 0.5s ease;
}
.menu-options.show {
  opacity: 1;
  transform: translateY(0em);
}
.menu-heading.show {
  opacity: 1;
  transform: translateY(0em);
}
.menu-options .seekbar {
  background-color: rgb(182, 182, 182);
  position: absolute;
  bottom: -1em;
  width: 100%;
  height: 5px;
}
.menu-options .seek-fill {
  background-color: orange;
  height: 100%;
  width: 33.3333%;
  position: absolute;
  left: 0%;
  transition: all 0.5s ease;
}
.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  cursor: pointer;
}

.option h1 {
  font-size: clamp(1.5em, 2vw, 3em);
}
.menu .cup-icon {
  background-image: url(cup.svg);
  height: clamp(1em, 5vw, 15em);
  width: clamp(1em, 5vw, 15em);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
}
.menu .burger-icon {
  background-image: url(burger.svg);
  height: clamp(1em, 5vw, 15em);
  width: clamp(1em, 5vw, 15em);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
}
.menu .fork-icon {
  background-image: url(fork.svg);
  height: clamp(1em, 5vw, 15em);
  width: clamp(1em, 5vw, 15em);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-options .option .info p {
  font-size: clamp(1em, 1vw, 5em);
}
.menu-options .option .info h1 {
  font-size: clamp(1.2em, 2vw, 5em);
}
.items {
  width: 90%;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 5em;
}
.item-card {
  width: clamp(350px, 50%, 30em);
  display: flex;
  height: 10%;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.item-card.show {
  opacity: 1;
  margin-left: 0em;
}
.item-card:hover {
  transform: scale(1.05);
}
.item-card .image {
  background-image: url(burger-image.jpg);
  height: 5em;
  width: 5em;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.item-card .info {
  width: 100%;
  background-color: calc(100%-5em) rgb(0, 217, 255);
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.item-card .price-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgb(218, 218, 218);
}
.item-card .price-name h1:nth-child(2) {
  color: orange;
}
.item-card .price-name h1 {
  font-size: clamp(1.3em, 1.5vw, 5em);
  white-space: nowrap;
}

/* footer */
footer {
  width: 100%;
  transform: translateY(3em);
  transition: all 0.8s ease;
  opacity: 0;
  margin-top: 2em;
}
footer.show {
  opacity: 1;
  transform: translateY(0em);
}
.booking {
  width: 100%;
  display: flex;
}
.left-image {
  width: 50%;
  height: 30em;
  background-image: url(res\ footer\ image.avif);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right-area {
  width: 50%;
  background-color: rgb(39, 39, 44);
  display: grid;
  place-items: center;
}
form {
  display: grid;
  place-content: center;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 3fr;
  width: 80%;
  gap: 1em;
  height: 90%;
}
.input-box1 {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
}
.input-box2 {
  grid-row: 1/2;
  position: relative;
  grid-column: 2/3;
}
input {
  outline: none;
  padding: 1em;
}
#name {
  position: absolute;
  width: 100%;
  height: 100%;
}
#email {
  position: absolute;
  width: 100%;
  height: 100%;
}
.right-area h1 {
  color: orange;
}
label {
  position: absolute;
}
.msg-container {
  grid-row: 3/4;
  grid-column: 1/3;
  position: relative;
}
textarea {
  width: 100%;
  height: 100%;
  position: absolute;
  outline: none;
  padding: 2em;
}
#name-label {
  position: absolute;
  left: 1em;
  top: 0.9em;
  transition: all 0.5s ease;
  display: grid;
  place-items: center;
}
#email-label {
  position: absolute;
  left: 1em;
  top: 0.9em;
  transition: all 0.5s ease;
  display: grid;
  place-items: center;
}
#msg-label {
  position: absolute;
  left: 1em;
  top: 0.7em;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-area .button {
  height: clamp(2em, 2vw, 30em);
  width: clamp(5em, 10vw, 30em);
  border-radius: 0.2em;
  background-color: orange;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2em;
  transition: all 0.5s ease;
}
.right-area .button:hover {
  background-color: rgb(255, 187, 0);
  transform: scale(1.05);
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -0.5em !important;
  background: #b8b8b8; /* grey background */
  color: black;
  border-radius: 0.5em;
  width: 5em;
  font-size: 0.8em;
  height: 1.5em;
}
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  top: -0.5em !important;
  background: #b8b8b8; /* grey background */
  color: black;
  border-radius: 0.5em;
  width: 8em;
  font-size: 0.8em;
  height: 2em;
}
/* tablet */

@media (max-width: 768px) {
  .item-card {
    transition: all 0.5s ease;
    margin-left: 5em;
    opacity: 0;
  }
  .nav > ul {
    display: none;
  }
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about .info {
    width: 100%;
    align-items: center;
  }
  .about .images {
    width: 100%;
    justify-content: center;
  }
  .animating-info {
    justify-content: center;
  }
  .left-image {
    display: none;
  }
  .right-area {
    width: 100%;
    gap: 1em;
    padding: 1em 0;
  }
  .nav h1 {
    margin-right: 60vw;
  }
  .hamburger-btn-container {
    display: grid;
  }
  .arrow-btn-container {
    display: none;
  }
}
